[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "Odoo DevContainer"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
    "debugpy",
    "pydevd-odoo",
    "pylint_odoo",
    "openupgradelib",
    "git-aggregator",
    "ruff",
    "copier",
    "ensurepath",
    "types-invoke",
    "pre-commit",
    "openpyxl-stubs",
    "num2words",
    "ofxparse",
    "dbfread",
    "ebaysdk",
    "firebase_admin",
    "pyOpenSSL",
    "PyYAML",
    "xmltodict",
    "suds",
    "phonenumbers"
]
